body {
    background: url("images/working-side-by-side.jpg");
    margin:0;
    font-family: "Source Sans Pro", sans-serif;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.topbar {
    background-color: rgba(94, 227, 92, 0.8);
    display: flex;
    justify-content: space-between;
    color: black;
    border-bottom: 5px solid black;
}


.topbar li {
    display: inline-block;
    margin-left:20px;
    margin-bottom: 2px;
    margin-top: 32px;
    margin-right:50px;
    text-decoration: none;
    
}

.topbar a {
    text-decoration: none;
    color:black;
    display:block;
}

.topbar a:hover {
    color:#c5cae9;
    transform:rotate(3deg);
}
.middle {
    background-color: rgba(232, 241, 232, 0.8);
    padding: 60px 45px;
    text-align: center;
    justify-content: center;
    width: auto;
    margin:auto;
    border: 5px solid black;
    margin-left:250px;
    margin-right:250px;
    margin-top: 35px;
    color:black;
    line-height: 25px;

}

form {
    display: inline-block;
    background-color:transparent;

}

.middle span {
    background-color: aliceblue;
}

.middle button {
    color:white;
    background-color: blue;
    text-decoration:none;
    padding: 12px 20px;
    border-radius:6px;
    
}

.footer {
    border-top: 1px solid black;
    background-color: green;
}

table {
    width: 1200px;
    background-color: rgba(232, 241, 232, 0.8);
    table-layout:auto;
    height:400px;
    text-align: center;
    border: 5px solid black;
}

.schedule {
}

th {
    background-color: #34eb5e;
    
}

.features { 
    background-color: transparent;
    padding: 60px 45px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
}

.content-table img {
    width:240px;
}


.leaders {
    background-color: rgba(232, 241, 232, 0.8);
    display:flex;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.followers {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.leaders img {
    width:240px;
    height:180px;
}

footer {
    margin-top: 10px;
}

button {
    cursor: pointer;
}

form {
    background-color: transparent;
    display: inline-block;
}
